<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<div th:replace="~{header.html}"></div>
<h1>Welcome to BTC Balance Checker!</h1>
<p>BTC Balance Checker is a web application that allows users to check the balance of their Bitcoin addresses.
    The application retrieves information about the balance of a given address from the Bitcoin blockchain and displays it in a user-friendly way.
    It also supports multiple currencies, enabling users to see the value of their Bitcoin holdings in their preferred currency.
    The BTC Balance Checker is easy to use and provides users with quick access to important information about their Bitcoin holdings.</p>
<p>Source code for the project is available at  <a href="https://github.com/freelkee/https://github.com/freelkee/BTC-Balance-Checker">GitHub</a>.</p>
</body>
</html>